---
layout: default
link: index
lang: ua
permalink: /
---

<div class="home">

<img src="/assets/images/i0.png"><h2>Виртуальный телохранитель</h2>
<p>Главные задачи “Виртуального телохранителя” – обеспечить спокойствие клиента, избавить его от проблем с компьютерной техникой, упорядочить и обеспечить безопасность информационных активов, защитить честь, достоинство и деловую репутацию Клиента в информационном пространстве.</p>

<img src="/assets/images/i1.png"><h2>Аудит информационной безопасности</h2>
<p>Аудит безопасности позволяет проверить, насколько хорошо защищена информационная система предприятия от внутренних и внешних угроз. Регулярный аудит позволяет поддерживать систему информационной безопасности на должном уровне, своевременно выявлять потенциальные проблемы, контролировать соблюдение правил и норм политики безопасности, установленной на предприятии.</p>

<img src="/assets/images/i3.png"><h2>Реагирование на инциденты информационной безопасности</h2>
<p>Комплекс мер по реагированию и расследованию инцидентов информационной безопасности, при сотрудничестве с CERT-UA и международными организациями и правоохранительными органами. </p>

<img src="/assets/images/i5.png"><h2>Обучающие мероприятия и консалтинг</h2>
<p>Консультации, тренинги, семинары и конференции по информационной безопасности в различных городах Украины. Основные темы и направления: защита бизнеса, безопасность компьютерных систем и сетей, социальная инженерия, защита от современных методов конкурентной разведки и промышленного шпионажа, разработка внутренней политики информационной безопасности предприятия. </p>
 
  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", layout.lang %}
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Подписаться <a href="{{ "/feed.xml" | relative_url }}">через RSS</a></p>

</div>
