---
layout: default
link: index
lang: ua
permalink: /
---

<div class="home">

<img src="/assets/images/i7.png" align="left" hspace=15 /><h2>Кібердетектив</h2>
<div align=justify>Головні завдання "Віртуального бодігарда” - забезпечити спокій клієнта, упорядкувати і забезпечити безпеку інформаційних активів, захистити честь, гідність і ділову репутацію клієнта в інформаційному просторі.</div>
<p>&nbsp;</p>
<img src="/assets/images/i0.png" align="left" hspace=15 /><h2>Віртуальний бодігард</h2>
<div align=justify>Головні завдання "Віртуального бодігарда” - забезпечити спокій клієнта, упорядкувати і забезпечити безпеку інформаційних активів, захистити честь, гідність і ділову репутацію клієнта в інформаційному просторі.</div>
<p>&nbsp;</p>
<img src="/assets/images/i1.png" align="left" hspace=15><h2>Аудит інформаційної безпеки</h2>
<div align=justify>Аудит безпеки дозволяє перевірити, наскільки добре захищена інформаційна система підприємства від внутрішніх і зовнішніх загроз, підтримувати систему інформаційної безпеки на належному рівні, своєчасно виявляти потенційні проблеми.</div>
<p>&nbsp;</p>
<img src="/assets/images/i3.png" align="left" hspace=15><h2>Реагування на інциденти інформаційної безпеки</h2>
<div align=justify>Комплекс заходів по швидкому реагуванню та розслідування інцидентів інформаційної безпеки, при співпраці з правоохоронними органами і міжнародними організаціями.</div>
<p>&nbsp;</p>
<img src="/assets/images/i6.png" align="left" hspace=15 /><h2>Розробка КСЗІ</h2>
<div align=justify>Головні завдання "Віртуального бодігарда” - забезпечити спокій клієнта, упорядкувати і забезпечити безпеку інформаційних активів, захистити честь, гідність і ділову репутацію клієнта в інформаційному просторі.</div>
<p>&nbsp;</p>
<img src="/assets/images/i5.png" align="left" hspace=15><h2>Навчальні заходи і консалтинг</h2>
<div align=justify>Консультації, тренінги, семінари та конференції з інформаційної безпеки в різних містах України. Основні теми і напрямки: захист бізнесу, безпека комп'ютерних систем і мереж, захист від сучасних методів конкурентної розвідки та промислового шпигунства.</div>
<p>&nbsp;</p>
 
  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", layout.lang %}
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Подписаться <a href="{{ "/feed.xml" | relative_url }}">через RSS</a></p>

</div>
